extends layout

block content
  .shortcuts
    table.table.table-striped
      thead
        tr
          th Shortcut Keys
          th Action
      tbody
        tr
          td CTRL + Space
          td Pause/Resume Video
        tr
          td CTRL + 3
          td Slowdown Video
        tr
          td CTRL + 4
          td Speedup Video

  .row.text-center.video-main
    #player
    #overlay
    #subtitles 
      h3 
        span.subs {{subtitle}}
  .row.text-center
    .lg-col.12
      textarea.input-lg.mousetrap(data-ng-model="subtitle", rows="5", cols="50")