extends layout

block content
  //h1 This is to check: {{title}}
  //input(type="submit", value="Whatevs", data-ng-click="testLog()")

  .shortcuts
    table.table.table-striped
      thead
        tr
          th Shortcut Keys
          th Action
      tbody
        tr
          td CTRL + 1
          td Pause/Resume Video
        tr
          td CTRL + 2
          td Skip back 5 seconds
        tr
          td CTRL + 3
          td Skip forward 5 seconds
        tr
          td CTRL + 4
          td Slowdown Video
        tr
          td CTRL + 5
          td Speedup Video

  .row.text-center.search-bar
    .col-lg-12.input-space
      input#link-value.input-lg.form-control.text-center(type="text", placeholder="Paste the Video's URL here", data-ng-model="videoUrl")

  .row.text-center.main-button
    .lg-col-12
      input#the-button.btn.btn-primary(type="submit", value="Click to Get Video", data-ng-click="onSearch()")

  .row.text-center.video-main
    #player
    #overlay
    #subtitles 
      h3 
        span.subs {{subtitle}}
  .row.text-center
    .lg-col.12
      textarea.input-lg.mousetrap(data-ng-model="subtitle", rows="5", cols="50")
