extends layout

block content
  .row
    .col-lg-6
      .shortcuts
        table.table.table-striped
          thead
            tr
              th Shortcut Keys
              th Action
          tbody
            tr
              td CTRL + 1
              td Pause/Resume Video
            tr
              td CTRL + 2
              td Skip back 5 seconds
            tr
              td CTRL + 3
              td Skip forward 5 seconds
            tr
              td CTRL + Shift + D
              td Delete Current Caption
    .col-lg-6
      .shortcuts
        table.table.table-striped
          thead
            tr
              th Shortcut Keys
              th Action
          tbody
            tr
              td CTRL + 4
              td Slowdown Video
            tr
              td CTRL + 5
              td Speedup Video
            tr
              td CTRL + Shift + S
              td Save Current Caption
            tr
              td CTRL + Shift + A
              td Add New Caption
  .row.text-center.search-bar
    .col-lg-12.input-space
      input#link-value.input-lg.form-control.text-center(type="text", placeholder="Paste the YouTube video's URL here", data-ng-model="videoUrl")

  .row.text-center.main-button
    .lg-col-12
      input#the-button.btn.btn-primary(type="submit", value="Click to Get Video", data-ng-click="onSearch()")
  .row
    .col-lg-9
      .text-center.video-main
        #player
        #overlay
        #subtitles
          h3
      .text-left#current-player-time
        h3 Current Player Time
        #player-time
    .col-lg-3
      .text-left
        .transcription-area
          input#transcript-upload(type="file")
          h5 Enter Transcription Text
          textarea.input-lg.mousetrap.transcription-box(rows="20", cols="28")
    .col-lg-3
      .text-left
        .prev-head
          h5 Previous Subtitle
          p
            textarea.mousetrap.prev-start(rows="1", cols="5")
            |&nbspto 
            textarea.mousetrap.prev-end(rows="1", cols="5")
      .text-center
        textarea.input-lg.mousetrap.sub-prev(rows="5", cols="50", readonly="readonly")
      .text-left
        .edit-head
          h5 Current Subtitle
          p
            textarea.mousetrap.edit-start(rows="1", cols="5")
            |&nbspto 
            textarea.mousetrap.edit-end(rows="1", cols="5")
      .text-center
        textarea.input-lg.mousetrap.sub-edit(rows="5", cols="50")
      .text-left
        .next-head
          h5 Next Subtitle
          p
            textarea.mousetrap.next-start(rows="1", cols="5")
            |&nbspto 
            textarea.mousetrap.next-end(rows="1", cols="5")
      .text-center
        textarea.input-lg.mousetrap.sub-next(rows="5", cols="50", readonly="readonly")