extends layout

block content
  .shortcuts
    table.table.table-striped
      thead
        tr
          th Shortcut Keys
          th Action
      tbody
        tr
          td CTRL and Space
          td Pause/Resume Video
        tr
          td CTRL and -
          td Slowdown Video
        tr
          td CTRL and +
          td Speedup Video

  .row.text-center.search-bar
    .col-lg-12.input-space
      input#link-value.input-lg.form-control.text-center(type="text", placeholder="Paste the Video's URL here")

  .row.text-center.main-button
    .lg-col-12
      input#the-button.btn.btn-primary(type="submit", value="Click to Get Video")

  .row.text-center.video-main
    #player
    #overlay

  .row.text-center
    .lg-col.12
      textarea.input-lg.mousetrap(data-ng-model="subtitle", rows="5", cols="50")
      br
      br
      {{subtitle}}